name: pytype check
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  commit:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: pytypes checker
      uses: theahura/pytypes-action@main
      with:
        args: -d import-error
